<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>


	<meta charset="UTF-8">
	<title>Form de entrada</title>

</head>
<body >


<!-- FORMULARIO DE ENTRADA DOS DADOS -->
	<form action="/botao" method="POST">
      <h3>Inquiries</h3>
      <label for="corr0">
        <span>Corrida dia 1    </span>
        <input name="corr0" type="text" id="name" class="form-control" placeholder="dia1"> <br>
      </label>   
       <label for="corr1">
       <span>Corrida dia 2   </span>
        <input name="corr1" type="text" id="name" class="form-control" placeholder="dia2"> <br>
      </label>
 <label for="corr2">
       <span>Corrida dia 3   </span>
        <input name="corr2" type="text" id="name" class="form-control" placeholder="dia3"> <br>
      </label>
  <label for="corr3">
       <span>Corrida dia 4   </span>
        <input name="corr3" type="text" id="name" class="form-control" placeholder="dia4"> <br>
      </label>
    <label for="corr4">
        <span>Corrida dia 5   </span>
        <input name="corr4" type="text" id="name" class="form-control" placeholder="dia5"> <br>
    </label>

    <label for="corr5">
        <span>Corrida dia 6   </span>
        <input name="corr5" type="text" id="name" class="form-control" placeholder="dia6"> <br>
    </label>  



      <input type="submit" id="send" value="Send"> <!-- botao de envio -->
     


     </form>
</div>












	
</body>
</html>